<div class="flex items-center mb-4 sm:mb-0">
  <form
    action="/admin/group/component/list"
    class="sm:pr-3"
    method="GET"
    hx-get="/admin/group/component/list"
    hx-target="#group-items"
    hx-push-current-url="true"
    hx-ext="push-current-url"
  >
    <label for="group-search" class="sr-only">Search</label>
    <div class="relative w-48 mt-1 sm:w-64 xl:w-96">
      <input
        type="text"
        name="name"
        id="group-search"
        class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
        placeholder="Cari group"
        value="<%= if (search) { %><%= search %><% } %>"
      />
    </div>
  </form>
</div>
