<main>
  <div
    class="p-4 bg-white block sm:flex items-center justify-between border-b border-gray-200 lg:mt-1.5 dark:bg-gray-800 dark:border-gray-700"
  >
    <div class="w-full mb-1">
      <%= partial("views/components/container/admin/breadcrumb.html") %>
    </div>
  </div>
  <!-- start container content -->
  <div class="flex flex-col">
    <div class="overflow-x-auto">
      <div class="overflow-hidden shadow">
        <div
          class="min-w-full divide-y divide-gray-200 table-fixed dark:divide-gray-600"
        >
          <!-- start content -->
          <%= if (!IsLoggedIn) { %>
          <%= partial("views/pages/admin/setting-channel/admin-setting-channel-content-login.html") %>
          <!-- end content -->
          <% } else { %>
            <%= partial("views/pages/admin/setting-channel/admin-setting-channel-content.html") %>
          <% } %>
        </div>
      </div>
    </div>
  </div>
  <!-- container end content -->
</main>
<%= partial("views/components/container/admin/footer.html") %>
