<h5
  id="drawer-label"
  class="inline-flex items-center mb-6 text-sm font-semibold text-gray-500 uppercase dark:text-gray-400"
>
  <%= formTitle %>
  member
</h5>
<form
  hx-target="#global-toaster"
  hx-swap="innerHTML"
  hx-post="/admin/member/mutation/<%= action %>"
  hx-refetch-url="/admin/member/component/list"
  hx-refetch-method="GET"
  hx-refetch-target="#member-items"
  hx-refetch-with-query="true"
  hx-ext="json-enc,refetch-url"
  hx-on::after-request="initDismisses(); <%= if (action == "create") { %>this.reset();<% } %>"
>
  <!-- hidden field for ID -->
  <input
  type="hidden"
  name="id"
  value="<%= if (member.ID) { %><%= member.ID %><% } %>"
  />
  <input
  type="hidden"
  name="username"
  value="<%= if (member.Username) { %><%= member.Username %><% } %>"
  />
  <!-- hidden field for ID -->
  <div class="space-y-4">
    <div>
      <label
        for="fullname"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Nama Lengkap</label
      >
      <input
        type="text"
        name="fullname"
        id="fullname"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
        value="<%= if (member.Fullname) { %><%= member.Fullname %><% } %>"
        placeholder="Nama lengkap Anda"
        required=""
      />
    </div>
    <div>
      <label
        for="email"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Email</label
      >
      <input
        type="text"
        name="email"
        id="email"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
        value="<%= if (member.Email) { %><%= member.Email %><% } %>"
        placeholder="Email Anda"
        required=""
      />
    </div>
    <%= if (action == "create") { %>
    <div>
      <label
        for="password"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Password</label
      >
      <input
        type="password"
        name="password"
        id="password"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
        value="<%= if (member.Password) { %><%= member.Password %><% } %>"
        placeholder="Password Anda"
        required=""
      />
    </div>
    <div>
      <label
        for="confirm_password"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Confirm Password</label
      >
      <input
        type="password"
        name="confirm_password"
        id="confirm_password"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
        value="<%= if (member.Password) { %><%= member.Password %><% } %>"
        placeholder="Ulangi Password Anda"
        required=""
      />
    </div>
    <% } %>
    <div>
      <label
        for="group"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Group</label
      >
      <select
        id="group"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
        name="group_id"
      >
        <%= if (groups && len(groups) > 0) { %>
        <%= for (group) in groups { %>
        <option value="<%= group.ID %>" <%= if (member.GroupID == group.ID) { %>selected<% } %> >
          <%= group.Name %>
        </option>
        <% } %>
        <% } %>
      </select>
    </div>
  </div>
  <div
    class="bottom-0 left-0 flex justify-center w-full pb-4 mt-4 space-x-4 sm:absolute sm:px-4 sm:mt-0"
  >
    <button
      type="submit"
      class="w-full justify-center text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
    >
      <%= action %>
    </button>
  </div>
</form>
